<p id="notice"><%= notice %></p>
<h2>Manager Information:</h2>
<p></p>
<p>
  <strong>Name:</strong>
  <%= @manager.first_name %>
</p>

<p>
  <strong>Surname:</strong>
  <%= @manager.last_name %>
</p>

<p>
  <strong>Nickname:</strong>
  <%= @manager.nickname %>
</p>

<p>
  <strong>email:</strong>
  <%= @manager.email %>
</p>

<p>
  <strong>Password:</strong>
  <%= @manager.encrypted_password %>
</p>

<%= link_to 'Edit', edit_manager_path(@manager) %> |
<%= link_to 'Back', managers_path %>