<div class="container">
  <div class="row justify-content-start">
    <div class="col-4">
      <%= form_with(model: bill, local: true) do |form| %>
        <% if bill.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(bill.errors.count, "error") %> prohibited this user from being saved:</h2>

            <ul>
              <% bill.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="form-group">
          <%= form.label :bill_type %>
          <%= form.select :bill_type, ['Personal','Deposit','Credit'], :autofocus => true, class: 'form-control', data: { form_field: true }, prompt: 'Please select your bill type' %>
        </div>

        <div class="form-group">
          <%= form.label :user_id %>
          <%= collection_select( :bill, :user_id, User.all, :id, :last_name, {}, {:multiple => false})%>
        </div>

        <div class="form-group">
          <%= form.label :amount %>
          <%= form.text_field :amount, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= form.label :percent %>
          <%= form.text_field :percent, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= form.label :replenishment_at %>
          <%= form.text_field :replanishment_at, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= form.label :expired_bill_at %>
          <%= form.text_field :expired_bill_at, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= form.label :amount_limit %>
          <%= form.text_field :amount_limit, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= form.label :card_number %>
          <%= form.text_field :card_generator_path, method: :get, class: "form-control" %>
          <%= form.submit "Generate Card Number", class: "btn-primary" %>
        </div>

        <div class="actions">
          <%= form.submit "Create Bill", class: "btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>