<p id="notice"><%= notice %></p>

<h2>Bills Information</h2>

<table>
  <thead>
  <tr>
    <th>| # |</th>
    <th>&nbsp;Bill Type  |</th>
    <th>&nbsp;Balance  |</th>
    <th>&nbsp;Percent  |</th>
    <th>&nbsp;Created Date  |</th>
    <th>&nbsp;Replenishment Date  |</th>
    <th>&nbsp;Expired Bill Date  |</th>
    <th>&nbsp;Amount Limit  |</th>
    <th colspan="3">Operations</th>
  </tr>
  </thead>

  <tbody>
  <% @bills.each do |bill| %>
    <tr>
      <td><%= bill.id %>&nbsp;</td>
      <td>&nbsp;<%= bill.bill_type %>&nbsp;</td>
      <td>&nbsp;<%= bill.amount.to_i %>&nbsp;</td>
      <td>&nbsp;<%= bill.percent.to_s + '%' %>&nbsp;</td>
      <td>&nbsp;<%= bill.created_at %>&nbsp;</td>
      <td>&nbsp;<%= bill.replanishment_at %>&nbsp;</td>
      <td>&nbsp;<%= bill.expired_bill_at %>&nbsp;</td>
      <td>&nbsp;<%= bill.amount_limit.to_i %>&nbsp;</td>
      <td> <%= link_to 'Show', bill %> </td>
      <% if current_user.admin? or current_user.superadmin? %>
      <td> <%= link_to 'Edit', edit_bill_path(bill) %></td>
      <td> <%= link_to 'Delete', bill, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Create New Bill', new_bill_path %>