<p id="notice"><%= notice %></p>
<h2>Bill Information:</h2>
<p></p>
<p>
  <strong>User:</strong>
  <%= @bill.user.last_name %> <%= @bill.user.first_name %>
</p>

<p>
  <strong>Bill Type:</strong>
  <%= @bill.bill_type %>
</p>

<p>
  <strong>Balance:</strong>
  <%= @bill.amount %>
</p>

<p>
  <strong>Bill Percent:</strong>
  <%= @bill.percent %>
</p>

<p>
  <strong>Created Date:</strong>
  <%= @bill.created_at %>
</p>

<p>
  <strong>Replenishment Date:</strong>
  <%= @bill.replanishment_at %>
</p>

<p>
  <strong>Expired Date:</strong>
  <%= @bill.expired_bill_at %>
</p>

<p>
  <strong>Amount Limit:</strong>
  <%= @bill.amount_limit %>
</p>

<%= link_to 'Edit', edit_bill_path(@bill) %> |
<%= link_to 'Back', bill_path %><div align="right">
<%= link_to 'Create New Transaction', new_transaction_path %></div>